.roupas ul {
    display: flex;
    flex-direction: row;
    line-height: 4em;
    gap: 5rem;
}
.roupas {
    margin-top: 30px;
    text-align: center;
}

.roupas li a {
    text-decoration: none;
    color: #474747;
}
.roupas li a:hover {
    color: #c92071;
}
