article{
    margin: 0 0 0 7%;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
}

#pe{
    margin: 7% 35% 0 6%;
}

.oferta{
    margin: 7% 0 0 0;
}

.oferta img{
    width: 100%;
}

#pe button{
    background-color: #C92071;
    width: 9em;
    border-radius: 5px;
}
#pe a{
    color: aliceblue;
    text-decoration: none;
}
#pe strong {
    color: #C92071;
}
#pe h1 {
    font-weight: bold;
}


