.header{
    display: flex;
    /* justify-content: space-around; */
    height: 20vh;
    box-sizing: border-box;
    padding: 2% 1% 0 7%;
}

.inputs {
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
}
.inputs input {
    height: 5vh;
    background-color: rgb(239, 233, 233);
    border: none;
    border-radius: 5px;
    width: 60vw;
    margin-left: 7%;
}
.icons {
    width: 25vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons a {
    color: rgb(120, 118, 118);
}

.icons button {
    background-color: #c92071;
    height: 6vh;
    width: 8vw;
    color: white;
    border: none;
    border-radius: 5px;
}
.carrinho img {
    position: absolute;
    width: 25px;
    margin-top: 1%;
}

.Ellipse img {
    width: 14px;
    margin-top: 0.8%;
    right: 16.8%;
    
}

.dois img{
    right: 17%;
    width: 8px;
    margin-top: 0.8%;
}
.inputs img {
    /* background-color: blue; */
    width: 17px;
    position: absolute;
    right:45%;
    
}
.home{
    display: flex;
    flex-direction: row;
   
}
.home tr{
    margin-left: 3%;
}
.nav{
    margin: 0 0 0 4%;
}

.home tr a:hover{
    color: #C92071;
}

.home a{
    text-decoration: none;
    color: black;
}