.header{
    display: flex;
    justify-content: space-around;
    height: 20vh;
}

.logo{
    width: 25vw;
}

.inputs{
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
}
.inputs input{
    height: 4vh;
    background-color: rgb(239, 233, 233);
    border: none;
    border-radius: 5px;
    width: 15vw;
}
.icons{

    width: 25vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.icons a {
    color:rgb(120, 118, 118) ;
    
}
.icons button {
    background-color: #C92071;
    height: 6vh;
    width: 8vw;   
    color: white;
    border: none;
    border-radius: 5px;
    
}

.inputs i {
    margin-left: -20px;
}
