.footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    padding-top: 85px;
    background-color: #1f1f1f;
    color: #ffffff;
    align-content: space-between;
}

.geral {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8.5rem;
}

.dig-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dig-logo p {
    line-height: 2em;
    display: flex;
    text-align: left;
}

.dig-logo .redesLogo {
    width: 6em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.dig-logo .redesLogo > img {
    cursor: pointer;
}

/* .footerLogo {
    width: 33px;
    height: 33px;
    top: 38px;
    gap: 0px;
} */
/* Início do "container" de informações */
.container-infos {
    display: flex;
    align-items: start;
    gap: 5rem;
}

.listainfos1 {
    width: 9em;
    margin-right: 0.1em;
   }

.listainfos2 {
    text-align: left;
}

.digcoll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 2em;
}

.digcoll p {
   
    text-align: left;
}

.digcoll hr {
    width: 90%;
    height: 1%;
   
}

