.nav {
    width: 90%;
}

.home {
    display: flex;
    gap: 2rem;
    padding: 0;
}

.home a:hover {
    color: #c92071;
}

.home a.active-link {
    font-weight: 800;
    text-decoration: underline;
}

.home a {
    text-decoration: none;
    color: black;
}
